= simple_form_for(@characteristics_group_row_value) do |f|
  = f.error_notification

  .form-inputs
    = f.association :characteristics_group_row, label_method: :characteristic_title, input_html: { class: 'select2'}
    = f.association :characteristic_value, label_method: :value, input_html: { class: 'select2'}

  .form-actions
    = f.button :submit, "Готово", class: 'btn btn-primary'
