= simple_form_for @producer, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = error_span(@producer[:title])
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), producers_path, :class => 'btn btn-default'
