.page-header
  %h1
    = @project.new_record? ? 'Новый' : 'Редактируем'
    Проект
= simple_form_for([:admin, @project]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :title
    = f.input :hostname

  .form-actions
    = f.button :submit, 'Сохранить', class: 'btn btn-primary'
