%h1
  Значения для характеристик
  = link_to 'Новое значение характеристики', new_characteristic_value_path, class: 'btn btn-success'

%table.table.table-stripped.table-bordered.datatable

  %thead
    %tr
      %th id
      %th Характеристика
      %th Значение
      / %th
      %th
      %th
  %tbody
    - @characteristic_values.each do |characteristic_value|
      %tr
        %td= characteristic_value.id
        %td= characteristic_value.characteristic_name.title
        %td= characteristic_value.value
        / %td= link_to 'Показать', characteristic_value, class: 'btn btn-default'
        %td= link_to 'Редактировать', edit_characteristic_value_path(characteristic_value), class: 'btn btn-default'
        %td= link_to 'Удалить', characteristic_value, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'


