/ .col-lg-4.col-sm-4.hero-feature.text-center
/   .thumbnail
/     = link_to product, class: "link-p" do
/       = image_tag product.image_url
/     .caption.prod-caption
/       %h4= link_to product.title, product
/       .dsc= truncate_html(raw(product.description), length: 50, omission: ' ...')
/       %p
/       .btn-group
/         %a.btn.btn-default.pull-left{:href => "#"}= number_to_currency product.price, unit: 'руб.'
/         = link_to add_to_cart_line_items_path(product_id: product.id), class: "btn btn-primary pull-left" do
/           %i.fa.fa-shopping-cart
/           Купить


.col-lg-4.col-md-6.col-sm-12.product_th
  .tile
    .price-label= number_to_currency product.offer_price_min.price if product.offer_price_min
    - if product.offer_price_min && product.offer_price_min.old_price
      .price-label.old-price= number_to_currency product.offer_price_min.old_price if product.offer_price_min
    %a{:href => "#{product_url(product)}"}
      %img{:alt => "1", :src => "#{product.image_url}"}/
    .footer
      / %a{:href => "#{product_url(product)}"}= truncate product.title, length: 50
      %a{:href => "#{product_url(product)}"}= product.title
      %span
      .tools
        .rate
          %span.active
          %span.active
          %span.active
          %span
          %span
        / Add To Cart Button
        / %a.add-cart-btn{ :href => add_to_cart_line_items_path(product_id: product.id) }
        %a.add-cart-btn{ :href => "#{product_url(product)}" }
          %span Купить
          %i.icon-shopping-cart
        / Share Button
        .share-btn
          .hover-state
            %a.fa.fa-facebook-square{:href => "#"}
            %a.fa.fa-twitter-square{:href => "#"}
            %a.fa.fa-google-plus-square{:href => "#"}
          %i.fa.fa-share
        / Add To Wishlist Button
        / %a.wishlist-btn {:href => add_to_wishlist_path(id: product.id)}
        /   .hover-state Сравнить
        /   %i.fa.fa-plus
        = link_to add_to_wishlist_path(id: product.id), method: :post, class: "wishlist-btn" do
          .hover-state Сравнить
          %i.fa.fa-plus
