%h1
  Строки групп характеристик
  = link_to 'Новая строка для характеристики', new_characteristics_group_row_path, class: 'btn btn-success'

%table.table.table-stripped.table-bordered.datatable

  %thead
    %tr
      %th id
      %th Принадлежит группе
      %th Название характеристики
      / %th
      %th
      %th
  %tbody
    - @characteristics_group_rows.each do |characteristics_group_row|
      %tr
        %td= characteristics_group_row.id
        %td= characteristics_group_row.characteristics_group.title
        %td= characteristics_group_row.characteristic_name.title
        / %td= link_to 'Показать', characteristics_group_row, class: 'btn btn-default'
        %td= link_to 'Редактировать', edit_characteristics_group_row_path(characteristics_group_row), class: 'btn btn-default'
        %td= link_to 'Удалить', characteristics_group_row, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'


