.page-header
  %h1
    = @deal.new_record? ? 'Новое' : 'Редактируем'
    Спецпредложение

= simple_form_for([:admin, @deal]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :image
    = f.input :description, as: :text, input_html: { class: 'ckedtr'}
    = f.association :products, collection: Product.aviable, input_html: { class: 'select2'}
    = f.input :published

  .form-actions
    = f.button :submit, 'Сохранить', class: 'btn btn-primary'
